/*
Css Code for a cool looking, ass kicking, html table
*/
.flat-table {
  margin: 0 auto;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: auto;
}
th {
background-color: rgb(112, 196, 105);
color: white;
font-weight: normal;
padding: 10px 20px;
text-align: center;
}
td {
background-color: rgb(238, 238, 238);
color: rgb(111, 111, 111);
padding: 10px 20px;
text-align: center;
}
tfoot td {
  background-color: rgb(238, 238, 215);
  color: black;
}
.datalinks {
	text-align: center;
	font-family: "Open Sans", "Helvetica", Arial, sans-serif;
}
.datalinks a, a:visited {
	color: #2279a6;
	font-size: 13px;
    font-weight: 300;
}
