body {
  font-family: Helvetica, Arial, Sans-Serif;
}

#index {
  font-size: 300%;
  color: #3868b5;
  text-decoration: none;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: #333333
}

p {
  font-family: Georgia, sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #252525
}

html,
body {
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section.content {
  flex: 1;
}

.dollar::before {
  content: "$";
}
